html {
  height: 100vh; 
  max-width: 100%;
  overflow-x: hidden;
}

body {
  height: inherit;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  height: min-content;  
}

.card {
  color: #343a40;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-sidebar, .tags-sidebar {
  height: 92vh; 
}

.note-container {
  width: 80%; 
  margin: auto;
  padding-top: 3rem;
}

a.notes-link {
  color: black;
  text-decoration: none;
}

.main-sidebar .nav-link {
  color: white;
}

.sidebar .nav-link.active {
  background-color:  rgb(95, 93, 93);
}

.sidebar-heading {
  text-transform: uppercase;
}

.btn.delete {
  z-index: 1;
  right: 20px;
  padding: 0;
}

.update-note {
  z-index: 1;
  top: 5px;
  right: 20px;
  padding: 0;
}

.trash {
  z-index: 1;
  right: 3px;
  padding: 0;
  padding-top: 5px;
}

.untrash {
  padding: 0;
  z-index: 1;
}

.icon-section {
  right: 5px;
}

.main-sidebar {
  padding-right: 0;
}

.tag-sidebar {
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 120px; 
  white-space: nowrap;
}

.card-badge-span {
  text-overflow: ellipsis;
  overflow: hidden; 
  max-width: 120px; 
  white-space: nowrap;
}

.add-new-note {
  background-color: #28a745;
  color: white;
}

.add-new-note:hover {
  background-color: #008000;
  color: white;
}

.asteriskField {
  display: none;
}

.dropdown-menu {
  z-index: 1030;
}

.drop-three {
  right: 5px;
  z-index: 1;
}

.landing {
  margin-top: 10%;
}