{% extends "base.html" %}
{% block content %}
  {% if notes_list %}
    <div class="notes-list" style="width: 40%; margin: auto;">
      <div class="row row-cols-1 row-cols-md-2">
        {% for note in notes_list %}
            <div class="col py-2 d-flex align-items-stretch">
              <div class="card note-container" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title note-title">{{ note.note_title }}</h5>
                  <p class="card-text text-truncate">{{ note.note_body }}</p>
                  <a href="#" class="card-link">Card link</a>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>  
  {% else %}
    <p>No notes added yet.</p>
  {% endif %}

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if notes_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">First</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?page={{ notes_list.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
      {% endif %}
      
    
      {% for page in pages %}
        {% if page == notes_list.number %}
          <li class="page-item active">
            <a class="page-link" href="{{ request.path }}?page={{ page }}">{{ page }} <span class="sr-only">(current)</span>
            </a>
          </li>
        {% elif page in pages %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page }}">{{ page }}</a></li>
        {% endif %}  
      {% endfor %}
      
      {% if notes_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?page={{ notes_list.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}?page={{ notes_list.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Last</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}